#nav-bar .logo .logo-pic img{
    width: 25px;
}
#nav-bar .logo {
    font-size: .7rem;
}

#nav-bar .nav-icons ul li a{
    padding: 0 .8rem;
}

#nav-links .nav-two {
    padding: .5rem 1rem;
}



#showcase .showcase-content .brand{
    left: 1.8rem;
    font-size: 1.3rem;
}

.black{
    margin-top: 2rem;
}
#showcase .showcase-content .brand-text{
    top: 35rem;
    width: 30rem;
    font-size: 1rem;
    letter-spacing: .2rem;
}


.two{
    background-position: center;
}
.text{
    line-height: 2rem;
}

.text h2{
    letter-spacing: 0.2em;
    font-size: 2rem;
}

.p1{
    top: 100px;
    width:500px;
}

.p2{
    width:500px;
    top: 150px;
}

.p3{
    width:500px;
    top: 150px;
}

.p4{
    width:500px;
    top: 200px;
}
.social-flex{
    flex-direction: column;
}
.handles{
    width: 100%;
}
