

#nav-bar .logo .logo-pic img{
    width: 20px;
}
#nav-bar .logo{
   font-size: .5rem;
}

#nav-bar{
    padding: .6rem .9rem;
}

#nav-bar .nav-icons ul li a{
    padding: 0 .5rem;
}
#nav-links .nav-two {
    padding: .3rem 0;
}
#nav-links .nav-two ul{
    font-size: .7rem;
    letter-spacing: 0px;
}
#nav-links .nav-two ul li a{
    padding-left: .3rem;
}
#showcase{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#showcase .showcase-content{
    /* line-height: .8rem; */
    /* width: 15rem; */
}

.rule{
    width: 80%;
    margin: auto;
}


#showcase .showcase-content .brand img{
    width: 2rem;
}

#showcase .showcase-content .brand{
    top: 2rem;
    left: 0;
    font-size: .3rem;
    width: auto;
    padding: 1rem;
}

/* .black{
    margin-top: .2rem;
} */

#showcase .showcase-content .brand-text{
    top: 8rem;
    width: 13rem;
    font-size: .4rem;
    line-height: .6rem;
}

.show{
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}
.one{
    background-size: cover;
    background-repeat: no-repeat;
}
.two{
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

}
.three{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.four{
    background-size: cover;
    background-repeat: no-repeat;
}

.text{
    color: #fff;
    padding:1rem;
    text-align: unset;
    letter-spacing: .5rem;
    line-height: 1rem;
    font-size: .8rem;
}

.text p{
    margin-bottom: 2rem;
    
}

.text h2{
    margin-bottom: .7rem;
    font-size: 1rem;
    letter-spacing: 0;
}

.p1{
    width:auto;
    top: 2rem;
    left: unset;
}
.p2{
    width:auto;
    top: 3rem;
    left: 0;
}

.p3{
    width:auto;
    top: 5rem;
    left: 0;
}
.p4{
    width:auto;
    top: 3rem;
    left: 0;
}
.btn{
    color: #fff;
    border: 3px solid var(--secondary-color);
    padding: .2rem .8rem;
    transition: 1s ease;
    font-weight: unset;
    font-size: small;
    letter-spacing: 0px;
    border-radius: 5px;
}
#partnership{
    position:relative;
    top: 0;
    
}

.partners img{
    width: 100%;
    
}
#partnership .container{
    padding-bottom: 0;
    padding-left: 0;
}
.partners{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: unset;
    justify-content: center;
}


.partners-text{
    margin-top: 5rem;
    letter-spacing: .1rem;
    font-size: .5rem;
}
.social-flex{
    flex-direction: column;
}
.handles{
    width: 100%;
}
.handles a{
    font-size: 1.5rem;
    font-weight: 700;
}
.small{
    font-size: .8rem;
    letter-spacing: .4rem;
}
.socials-two .icons ul li{
    margin: 0 .9rem;
    padding:0 .4rem;
}

footer .footer .footer-pic{
    font-size: .6rem;
    padding-top: 2rem;
}

footer{
    height: 12rem;
    margin-top: 0;
}

footer .container .form{
    width: 100%;
    padding: 1rem;
    justify-content: center;

}
footer .container{
    flex-direction: column;
    padding: 1rem 0;
  

}


body{
    line-height: unset;
    font-weight: 200;
}

.m{margin: .2rem 0;}
