

/* #nav-bar .logo .logo-pic img{
    width: 20px;
}
#nav-bar .logo{
   font-size: .5rem;
}

#nav-bar{
    padding: .6rem .9rem;
}

#nav-bar .nav-icons ul li a{
    padding: 0 .5rem;
}
#nav-links .nav-two {
    padding: .3rem 0;
}
#nav-links .nav-two ul{
    font-size: .7rem;
    letter-spacing: 0px;
}
#nav-links .nav-two ul li a{
    padding-left: .3rem;
}
#showcase{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}


.rule{
    width: 80%;
    margin: auto;
}


#showcase .showcase-content .brand img{
    width: 2rem;
}

#showcase .showcase-content .brand{
    top: 2rem;
    left: 0;
    font-size: .3rem;
    width: auto;
    padding: 1rem;
}

/* .black{
    margin-top: .2rem;
} */

/* #showcase .showcase-content .brand-text{
    top: 8rem;
    width: 10rem;
    font-size: .3rem;
    line-height: unset;
    letter-spacing: 1px;
}



.text{
    color: #fff;
    padding:1rem;
    text-align: unset;
    letter-spacing: .5rem;
    line-height: 1rem;
    font-size: .8rem;
}

.text p{
    margin-bottom: 2rem;
    
}

.text h2{
    margin-bottom: .7rem;
    font-size: 1rem;
    letter-spacing: 0;
}

.p1{
    width:auto;
    top: 2rem;
    left: unset;
}
.p2{
    width:auto;
    top: 3rem;
    left: 0;
}

.p3{
    width:auto;
    top: 5rem;
    left: 0;
}
.p4{
    width:auto;
    top: 3rem;
    left: 0;
}
.btn{
    color: #fff;
    border: 3px solid var(--secondary-color);
    padding: .2rem .8rem;
    transition: 1s ease;
    font-weight: unset;
    font-size: small;
    letter-spacing: 0px;
    border-radius: 5px;
}
#partnership{
    position:relative;
    top: 0;
    
}

.partners img{
    width: 100%;
    
}
#partnership .container{
    padding-bottom: 0;
    padding-left: 0;
}
.partners{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: unset;
    justify-content: center;
}


.partners-text{
    margin-top: 5rem;
    letter-spacing: .1rem;
    font-size: .5rem;
}
.social-flex{
    flex-direction: column;
}
.handles{
    width: 100%;
}
.handles a{
    font-size: 1.5rem;
    font-weight: 700;
}
.small{
    font-size: .8rem;
    letter-spacing: .4rem;
}

.socials-two .icons ul{
    display: flex;
    margin-top: 1.2rem;
    font-size: 1.3rem;
    justify-content: center; 
}

.socials-two{
    background-color: #fff;
    height: 14rem;
}

.socials-two .icons ul li{
    margin: 0 .9rem;
    padding:0 .4rem;
}

footer .footer .footer-pic{
    font-size: .4rem;
    padding-top: 2rem;
}

footer{
    height: 12rem;
    margin-top: 0;
}

footer .footer{
    font-size: .5rem;
}
footer .container .form .contact-me{
    font-size: .5rem;
}

.copyright{
    font-size: .5rem;
    opacity: .5;
}

footer .container .form{
    width: 100%;
    padding: 1rem;
    justify-content: center;
}

footer .container{
    flex-direction: column;
    padding: 1rem 0;
}

body{
    line-height: unset;
    font-weight: 200;
}

.m{margin: .2rem 0;} */

.widescreen{
    display: none;
}
.mobile{display: unset;}





#nav-bar .logo .logo-pic img{
    width: 20px;
}
#nav-bar .logo{
   font-size: .5rem;
}

#nav-bar{
    padding: .6rem .9rem;
}

#nav-bar .nav-icons ul li a{
    padding: 0 .5rem;
}
#nav-links .nav-two {
    padding: .3rem 0;
}
#nav-links .nav-two ul{
    font-size: .7rem;
    letter-spacing: 0px;
}
#nav-links .nav-two ul li a{
    padding-left: .3rem;
}
#showcase{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}


.rule{
    width: 80%;
    margin: auto;
}


#showcase .showcase-content .brand img{
    width: 2rem;
}

#showcase .showcase-content .brand{
    top: 2rem;
    left: 0;
    font-size: .3rem;
    width: auto;
    padding: 1rem;
}



#showcase .showcase-content .brand-text{
    top: 10rem;
    width: 10rem;
    font-size: .3rem;
    line-height: unset;
    letter-spacing: 1px;
}


.show{
    height: unset;
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
}
.one{
    height: unset;
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
}

.flexx{
    display: flex;
    flex-direction: column;
}

.flexx .pic{
    min-height: 200px;
    width: 100%;
}
.q1{
    background-image: url(/images/b22.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.q2{
    background-image: url(/images/b44.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.q3{
    background-image: url(/images/b333.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.q4{
    background-image: url(/images/b155.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.two{
    height: unset;
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
}

.three{
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
    background-position: unset;
    height: unset;
}
.four{
    background-image: unset;
    background-size: unset;
    background-repeat: unset;
    height: unset;
}

.text{
    color: #fff;
    padding:1rem;
    text-align: justy;
    letter-spacing: .5rem;
    line-height: 1rem;
    font-size: .8rem;

}

.text p{
    margin-bottom: 2rem;
    
}

.text h2{
    margin-bottom: .7rem;
    font-size: 1rem;
    letter-spacing: 0;
}

.p1{
   display: unset;
   width:unset;
   position: unset;
   top: unset;
   left: unset;
}

.p2{
    width:auto;
    top: 3rem;
    left: 0;
}

.p3{
    width:auto;
    top: 5rem;
    left: 0;
}
.p4{
    width:auto;
    top: 3rem;
    left: 0;
}
.btn{
    color: #fff;
    border: 3px solid var(--secondary-color);
    padding: .2rem .8rem;
    transition: 1s ease;
    font-weight: unset;
    font-size: small;
    letter-spacing: 0px;
    border-radius: 5px;
}

#partnership{
    position:relative;
    top: 0;
    
}

.partners img{
    width: 100%;
    
}
#partnership .container{
    padding-bottom: 0;
    padding-left: 0;
}
.partners{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: unset;
    justify-content: center;
}


.partners-text{
    margin-top: 5rem;
    letter-spacing: .1rem;
    font-size: .5rem;
}
.social-flex{
    flex-direction: column;
}
.handles{
    width: 100%;
}
.handles a{
    font-size: 1.5rem;
    font-weight: 700;
}
.small{
    font-size: .8rem;
    letter-spacing: .4rem;
}

.socials-two{
    background-color: #fff;
    height: 14rem;
  
}
.socials-two .icons ul{
    display: flex;
    margin-top: 1.2rem;
    font-size: 1.3rem;
    justify-content: center; 
}

.socials-two .icons ul li{
    margin: 0 .9rem;
    padding:0 .4rem;
}

footer .footer .footer-pic{
    font-size: .4rem;
    padding-top: 2rem;
}

footer{
    height: 12rem;
    margin-top: 0;
    
}

footer .footer{
    font-size: .5rem;
}

.copyright{
    font-size: .5rem;
}
footer .container .form .contact-me{
    font-size: .5rem;
    opacity: .5;
}

footer .container .form{
    width: 100%;
    padding: 1rem;
    justify-content: center;

}
footer .container{
    flex-direction: column;
    padding: 1rem 0;
}

body{
    line-height: unset;
    font-weight: 200;
}

.m{margin: .2rem 0;}

