:root{
    --primary-color: #acacac;
    --secondary-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: black;
}


::-webkit-scrollbar {
    display: none;
  }
  
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}

/* utility classes */

.container{
    max-width: 1250px;
    margin: auto;
    position: relative;
}
.p9{margin-left: 4rem;}
.p8{margin-left: 1rem;}
.m{margin: 1rem 0;}
.m1{margin: 2rem 0;}
/* navigation */

#nav-bar{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    align-items: center;
}

#nav-bar .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#nav-bar .logo .logo-pic img{
    width: 40px;
    height: auto;
}

#nav-bar .nav-icons ul{
    display: flex;
}


#nav-bar .nav-icons ul li a{
    padding: 0 1rem;
    color: #fff;
    transition: all .5s ease;
}
#nav-bar .nav-icons ul li a:hover{
    color: var(--primary-color);
}

#nav-links .nav-two {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: #fff;
    align-items: center;
}

#nav-links .nav-two ul{
    display: flex;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

#nav-links .nav-two ul li a{
    padding: 1rem 1rem;
    color: #fff;
    transition: all .5s ease;
}

#nav-links .nav-two ul li a:hover{
   color:rgb(0, 0, 0) ;
}

/* showcase */

#showcase{
    height: 610px;
    background-image:url(https://raw.githubusercontent.com/Uksonmike/geraldblack/main/images/b5.jpg);
    background-size: cover;
    background-position: center;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: row;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

/* update here*/

#showcase .showcase-content .brand{
    position: absolute;
    top: 10rem;
    left: 3rem;
    font-size: .6rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    align-content: center;
    justify-content: center;
    width: 20rem;
}
/* update here*/

.rule{
    width: 80%;
    margin: auto;
}
/* update here*/

#showcase .showcase-content .brand img{
    width: 8rem;
    animation: fadeIn 3s ease;
}

/* .gerald{
    display: block;
}
.black{
    display: block;
    margin-top: 2.5rem;
    transform: translateX(30%);
} */


@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#showcase .showcase-content .brand h1{
    animation: moveRight 1s;
    cursor: pointer;
}
@keyframes moveRight{
    0%{transform: translateX(-100%);
    opacity: 0;}
    100%{opacity: 1;}
}

/* update here*/

#showcase .showcase-content .brand-text{
    position: absolute;
    right: 0;
    top: 30rem;
    width: 35rem;
    font-size: 1.5rem;
    font-family: 'Ubuntu', serif;
    animation: moveLeft 1s;
    cursor: pointer;
    letter-spacing: .5rem;
    line-height: 2.2rem;
}

@keyframes moveLeft{
    0%{transform: translateX(100%);
    opacity: 0;}
    100%{opacity: 1;}
}

.show{
    height: 750px;
    background-image:url(https://raw.githubusercontent.com/Uksonmike/geraldblack/main/images/b51.jpg);
    background-size: cover;
    background-position: right;
}
.one{
    background-image:url(https://raw.githubusercontent.com/Uksonmike/geraldblack/main/images/b2.jpg);
    background-size: cover;
    background-position: center;
}
.two{
    background-image:url(https://raw.githubusercontent.com/Uksonmike/geraldblack/main/images/b3.jpg);
    background-size: cover;
    background-position: center;
}
.three{
    background-image:url(https://raw.githubusercontent.com/Uksonmike/geraldblack/main/images/b4.jpg);
    background-size: cover;
    background-position: center;
}
.four{
    background-image:url(https://raw.githubusercontent.com/Uksonmike/geraldblack/main/images/b15.jpg);
    background-size: cover;
    background-position: center;
}
.text{
    color: #fff;
    line-height: 2.5rem;
    padding: 2rem;
    text-align: unset;
    font-size: 1.2rem;
}

.text p{
    margin-bottom: 2.5rem;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: .1rem;
    
}
.text h2{
    margin-bottom: 2.5rem;
    font: bold;
    letter-spacing: 0.5rem;
    font-size: 3rem;
}


.p1{
    width:600px;
    position: absolute;
    top: 70px;
    left: 0;
}
.p2{
    width:600px;
    position: absolute;
    top: 20px;
    right: 0;
}
.p3{
    width:600px;
    position: absolute;
    top: 100px;
}
.p4{
    width:600px;
    position: absolute;
    top: 150px;
    right: 0;
}

.btn{
    color: #fff;
    border: 3px solid var(--secondary-color);
    padding: .7rem 2rem;
    transition: 1s ease;
    font-weight: 700; 
}
.btn:hover{
    background-color: var(--secondary-color);
    color: #333;
    
}

#partnership{
    background-color: black;
}

#partnership .container{
    padding-bottom: 3.5rem;
}

.partners img{
    width: 19%;
}

.partners{
    display: flex;
    grid-gap: 2rem;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.partners-text{
    color: #fff;
    margin-top: 10rem;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: .3rem;
    font-size: .6rem;
    align-self: center;
}

.social-flex{
    
    background-color: #fff;
    display: flex;
}
.handles{
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10rem;
    padding: 3rem 0;
    font-family: 'Ubuntu', serif;
    font-weight: 700;
}

.handles a{
    font-size: 2rem;
    text-transform: uppercase;
}

.insta{
    background-color: var(--primary-color);
}

.socials-two{
    background-color: #fff;
    height: 20rem;
  
}

.socials-two .text{
    color: black;
    text-align: center;
    padding-top: 3rem;
}

.small{
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .5rem;
}

.socials-two .icons{
    align-items: center;
    justify-content: center;
}

.socials-two .icons ul{
    display: flex;
    font-size: 2rem;
    justify-content: center; 
}
.socials-two .icons ul li{
    margin: 0 2rem;
    padding: .5rem;
}
.socials-two .icons ul li a:hover{
    color: black;
    
}
footer .footer{
    color:#fff;
    opacity: .5;
    letter-spacing: .3rem;
    font-family: 'Ubuntu', serif;
}

footer .footer .footer-pic{
    font-family: 'Cinzel Decorative', cursive;
    font-size: .8rem;
    letter-spacing: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    opacity: .5;
}

footer .footer .footer-pic img{
    width: 30px;
    margin-right: 1rem;
}
footer{
    height: 15rem;
    margin-top: 1rem;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
footer .container .form{
    width: 50%;
    color: #fff;
}

footer .container form{
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer .container form .input-long{
    width: 100%;
    padding: 1rem;
    margin-bottom: .4rem;
}

.short{
    margin-top: 1rem;
}

footer .container form  .btn{
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--secondary-color);
}
footer .container .form .contact-me{
    opacity: .5;
}
footer .container form  .btn:hover{
    background-color: #333;
    color: #fff;
}
.copyright{
    color: #fff;
    text-align: center;
    padding: 3rem;
    margin-top: 1rem;
    letter-spacing: .2rem;
    opacity: .5;
}
